.App {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #4F772D;
  border-color: #4F772D;
  outline: none;
  box-shadow: none;
  margin-top: 30px;
}

.btn-success:hover {
  background-color: #31572C;
  margin-top: 30px;
}