.App {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #4F772D;
  border-color: #4F772D;
  outline: none;
  box-shadow: none;
}

.btn-success:hover {
  background-color: #31572C;
}

.btn-success:disabled {
  background-color: #6C844B;
  border-color: #6C844B;
}

.show>.btn-outline-success.dropdown-toggle:focus, .btn-outline-success:focus {
  outline: none;
  box-shadow: none;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  outline: none;
  box-shadow: none;
}